body {
    height: 90vh;
    width: 100vw;

    min-height: 500px;
    min-width: 600px;

    background-image: url(Cards/backgroundPattern.png);
    background-size: 500px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);   
}

a:hover {
    color: lightgray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    height: 60px;
    width: 90%;
    min-width: 600px;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    left: 0;
    margin: 0;
    background: black;
    color: white;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    margin-top: 60px;
}

@media (orientation: landscape) {
    #board {
        height: 80%;
        aspect-ratio: 1;
    }

    #do {
        height: 80%;
        width: 20%;
    }
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }

    #board {
        height: 60%;
        aspect-ratio: 1;
    }

    #do {
        height: 10%;
        width: 50%;
    }
}

#board {
    padding: 20px;
    background-color: darkgreen;
    border: 3px solid black;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    border-radius: 10%;
    box-shadow: 2px 2px 5px black;
}

#do {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid black;
    padding: 1rem;
    background-color: rgb(255, 228, 194);
    font-size: 32px;
}